{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="text-align: center;">
<h2>Engineer Rono </h2>
</body>
<img style="border-radius:50%; width:100px; height:100px" src="{%static 'img/dq.jpg'%}">
<div style="background-color:grey;">
    <h3>Personal details</h3>
    <p style="font-style:aerial; font-size:20px;">My full name are <c style="color:blue;">Kelvin Kiprotich Rono</c> born 2000/10/24. I am a Kenyan Citizen by birth. My home town being Eldoret city, Kelvin is from Kalenjin tribe and specifically Nandi sub-tribe. I am a christian when it comes to matter of religion.</p>
</div>
<div style="background-color:black;">
<h3 style="color:green;">Education Background</h3>
    <p style="color:white; font-style:italic; font-size:20px;">I started my primary educations at the year 2005 and attended Chepkigen Primary school.  I then later joined Samoei Boys' High school for my secondary education. I did good and manage to secure a position at Kirinyaga University (kenya) to undertake a Bachelor Degree in <B style="color:red;">BsC SOFTWARE ENGINEERING</B>. Where am still working for great success out of it. </p>
</div>
<div style="background-color:blue;">
    <h3 style="color:yellow;">My Software Engineering Skills</h3>
    <p style="font-size:20px;"> In terms of software engineering skills I am a FULLSTACK DEVELOPER, both web development and also applications development. On my front-end skill i am much familiar with HTML5 CSS3 and also JS. I also use js framework (REACTJS) to do frond-end developments. When it comes to back-end development I create my APIs using python programming as well as doing database configurations. In terms of database model,  I use postgres database. I used DJANGO python framework to do back-end development. Some django skills I utilize are ORM, MVT just to name but a few. </p>
</div>
<h>THANKS FOR VISITING MY SITES</h><br>
<h3>Also contact me if you need any kind of assistance.. Be it learning together or either developing a project</h3>
</html>